@using office.Models

@model List<BlogBody>

	<div>

		@foreach(BlogBody post in @Model)
		{
			<div class="card">
				<div class="card-body">
				@Html.Raw(@post.Content)
				</div>

				<div class="card-footer">
					@Html.ActionLink("Edit", "EditorPage", new {Id= @post.Id}, new {@class="btn btn-sm btn-secondary"})
				</div>

			</div>
		}
	</div>