@{
    ViewData["Title"] = "Home Page";
}

 <!-- Content
  ============================ -->
  <div id="content" role="main">
      
        <!-- Getting Started
		============================ -->
        <section id="CJDocs_start">
        <h1> Transcom Electronics Limited</h1>
        <h2>CJDocs Documentation</h2>
        <p style="color: brown" class="lead">Welcome to CJDocs Official documentation portal of TEL</p>
		


		<div class="row">
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong>Version:</strong> 1.0</li>
					<li><strong>Author:</strong> <a href="http://transcomdigital.com/" target="_blank">TEL</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4">
				<ul class="list-unstyled">
					<li><strong class="font-weight-700">Created:</strong> 21 March, 2022</li>
					<li><strong>Update:</strong>  22 March, 2022</li>
				</ul>
			</div>
		</div>
        <p class="alert alert-info">If you have any questions that are beyond the scope of this help file, Please feel free to email via <a target="_blank" href="https://daiyanrafi.github.io/">this</a>.</p>
        </section>
		
        <!-- Changelog
		============================ -->
		
        <section id="CJDocs_changelog">
    		  <hr class="divider">
          <h3 id="v1-0">Version 1.0 <small class="text-muted">(26 August, 2022)</small></h3>
		  <p class="alert alert-info">Purpose for this website is to store all CJDocs documentation work in one place.</p>
          <p>Initial Release.</p>
        </section>        
        
      </div>
    </div>
	
  </div>
  <!-- Content end --> 