<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="assets/images/favicon.png" rel="icon" />
<title>Documentation | CJDocs</title>
<meta name="description" content="Transcom Electronics Lts">
<meta name="author" content="druvo.net">

<!-- Stylesheet
============================== -->
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
<!-- Font Awesome Icon -->
<link rel="stylesheet" type="text/css" href="~/css/all.min.css" />
<!-- Magnific Popup -->
<link rel="stylesheet" type="text/css" href="~/css/magnific-popup.min.css" />
<!-- Highlight Syntax -->
<link rel="stylesheet" type="text/css" href="~/css/github.css" />
<!-- Custom Stylesheet -->
<link rel="stylesheet" type="text/css" href="~/css/stylesheet.css" />
</head>

<body data-spy="scroll" data-target=".CJDocs-navigation" data-offset="125">

<!-- Preloader -->
<div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
=============================== -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================ -->
  <header id="header" class="sticky-top"> 
    <!-- Navbar -->
    <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
      <div class="container-fluid">
        <!-- Sidebar Toggler -->
		<button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span class="w-75"></span><span class="w-50"></span></button>
		
		<!-- Logo --> 
        <a class="logo ml-md-3" href="index.html" title="CJDocs Template"> <img style="height: 65px;" src="~/lib/logo.png" alt="CJDocs Template"/> </a> 
		<span class="text-2 ml-2">v1.0</span> 
        <!-- Logo End -->
        
		<!-- Navbar Toggler -->
		<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#header-nav"><span></span><span></span><span></span></button>
        
		<div id="header-nav" class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="dropdown"> <a class="dropdown-toggle" href="#">Support</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Khondokar Ali Ifran</a></li>
                <li><a class="dropdown-item" href="#">Zahid Hasan</a></li>
                <li><a class="dropdown-item" href="https://daiyanrafi.github.io/">Daiyan Rafi</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End --> 
  </header>
  <!-- Header End --> 
  
 	<!-- Sidebar Navigation
	============================ -->
        @{
            Html.RenderPartial("_MenuBar");
        }  


    <div class="CJDocs-content">
        <div class="container"> 

             @RenderBody();
        </div>
    </div>

  <!-- Footer
  ============================ -->
  <footer id="footer" class="section bg-dark footer-text-light">
    <div class="container">
      <ul class="d-flex justify-content-center mb-3">
        <img src="~/lib/logo.png" height="100px">
      </ul>
      <p class="text-center">Copyright &copy; 2020 <a href="http://www.druvo.net/CJDocs-one-page-documentation-html-template/">CJDocs</a>. All Rights Reserved.</p>
	  <p class="text-2 text-center mb-0">Design &amp; Develop by <a class="btn-link" target="_blank" href="https://daiyanrafi.github.io/">Mohammed Abu Daiyan Rafi</a>.</p>
      <p>Learn about <a href="https://daiyanrafi.github.io/">Daiyan Rafi</a>.</p>
  <div class="text-center">

    
</div>
    </div>
  </footer>
  <!-- Footer end -->
  
</div>
<!-- Document Wrapper end --> 

<!-- Back To Top --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- JavaScript
============================ -->
<script src="~/js/jquery.min.js"></script> 
<script src="~/js/bootstrap.bundle.min.js"></script> 
<!-- Highlight JS -->
<script src="~/js/highlight.min.js"></script> 
<!-- Easing --> 
<script src="~/js/jquery.easing.min.js"></script> 
<!-- Magnific Popup --> 
<script src="~/js/jquery.magnific-popup.min.js"></script> 
<!-- Custom Script -->
<script src="~/js/theme.js"></script>

</body>
</html>




















@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - offic</title>
    <link rel="stylesheet" href="~/css/boostrapwatchtheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    <link rel="stylesheet" href="~/office.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://localhost:44351/">CJDocs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
  
        <li class="nav-item">
           <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " asp-area="" asp-controller="Doc" asp-action="Index">Docs</a>
        </li>
       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>




     
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_notification" />
            @RenderBody()
        </main>
    </div>

    <footer 

        class="border-top footer text-muted bg-dark">

        <div class="container">
            &copy; 2022 - MIS & IT Department - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@