@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor	
<div class="CJDocs-navigation bg-light">
      <ul class="nav flex-column ">
        <li class="nav-item"><a class="nav-link active" href="#CJDocs_start">Getting Started</a>
          <ul class="nav flex-column main-menu">
              <script src="~/js/jquery.min.js"></script> 

              <script>
                   
                    
                    $(document).ready(function() {
                        var datas =  @Html.Raw(Accessor.HttpContext.Session.GetString("_Menu"));
                        $.each(datas, function(index, data) {
                            var item = "<li class='nav-item'><a class='nav-link' href='/Doc/Details/"+data.Id+"'> " +data.Name+ "</a></li>"
                            $(".main-menu").append(item);

                        });
                         ////<a asp-action="Edit" asp-route-id="Model?.Id">Edit</a>
                    });
              </script>
       @*     <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Editor" asp-action="Index">Details</a></li>*@
            
            <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Doc" asp-action="Index">Docs</a></li>

@*            <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Editor" asp-action="EditorPage">Editor</a></li>*@
        </li>
		<li class="nav-item"><a class="nav-link" href="#CJDocs_changelog">Changelog</a>
			<ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#v1-0">v1.0</a></li>
          </ul>
		</li>
      </ul>
    </div>